
.adote{
display: flex;
align-items: center;
background-color: gray;
width: 50%;
height: 70px;
}

.adote:hover {
    font-size: 2.5em;
    color:antiquewhite;
}


.container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu {
    display:flex;
    justify-content:space-around;
    background-color: goldenrod;
    width: 50%;
    height: 70px;
    flex-direction:row;
    }

.home:hover {
   color: antiquewhite;
}

.sobre:hover{
    color: antiquewhite;
}

.contato:hover{
    color:antiquewhite;
}

footer {
    background-color:grey;
    align-items: flex-end;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    .adote {
        height: 20vh;
        min-height: 15%;
    }
}